*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

::-webkit-scrollbar {
  display: none;
}
.example::-webkit-scrollbar {
  display: none;
}
.example {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  }
/* ------------------------------ */

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
}

.container{
  width: 80%;
  margin: 30px auto;
  height: auto;
  background: rgba(148, 148, 148, 0.1);
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 3px #000000;
  z-index: 1;
  position: relative;
  padding: 20px;
}


.welcomeMessage{
  padding-top: 20px;;
  text-align: center;
  font-size: 20px;
  color: #fcfcfc;
}

.welcome{
  padding-top: 20px;
  font-family: Staatliches;
  font-size:75px;
  line-height: 80px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(186, 0, 211);
}

.welcome1{
  font-size: 150px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.welcome2{
  color: rgb(186, 0, 211);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.welcome3{
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(186, 0, 211);
}

.welcome4{
  color: rgb(186, 0, 211);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.brief{
  font-family: 'PT Sans', sans-serif;
  font-size: 23px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(186, 0, 211);
}

.disclaimer{
  color: red;
  font-weight: 700;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-decoration: underline red;
}

.accuracy{
  color:rgb(8, 255, 8);
  font-weight: 700;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.guidelines{
  color: #000000;
  text-align: left;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  background: rgba(104, 192, 243, 0.7);
  margin: 20px 0px;
}

.guideline{
  font-weight: 700;
}

.formBox{
  height: auto;
  width: 100%;
  border: 2px solid rgb(186, 0, 211);
  border-radius: 10px;
  background: rgba(104, 103, 104, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.left{
  height: auto;
  width: 30%;
  margin: 50px 0px;
}


.right{
  height: auto;
  width: 30%;
  margin: 50px 0px;
}


label{
  padding: 0px 0px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgb(186, 0, 211);
}

.button{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button button{
  width: 100%;
  padding: 10px;
  background: rgb(186, 0, 211);
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  border: 3px solid whitesmoke;
  border-radius: 10px;
}

.button button:hover{
  width: 100%;
  padding: 10px;
  background: whitesmoke;
  color: rgb(186, 0, 211);
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  border-radius: 10px;
  border: 3px solid rgb(186, 0, 211);
  transition: 0.5s;
}

.positive{
  width: auto;
  height: auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 35px;
  font-weight: 700;
  background: rgb(255, 0, 0);
}

.negative{
  width: auto;
  height: auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 35px;
  font-weight: 700;
  background: rgb(66, 214, 66);
}

.note{
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  /* /* text-align: left; */
} 


